.navbar {
  align-items: center;
  height: 180px;
  width: calc(80%); /* не будет больше viewport */
  max-width: 100%;
  margin: 0 auto;
  left: auto;
  transform: none; /* убрать left:50% + translateX(-50%), если есть конфликт */
}
.navbar-sticky {
  top: 5px;
  left: 50%;
  width: calc(100%);   /* увеличиваем ширину */
  margin: 0 auto;     /* центрируем */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  z-index: 10;
  transition: top 0.3s ease;
}
.logo {
  width: 180px;
  height: 85px;        
  margin-left: 40px;     
  cursor: pointer;
  margin-top: -15px;      
  transition: transform 0.2s;
}
.navbar img:hover {
  transform: scale(1.05);
}
.navbar-right {
  display: flex;             /* делает кнопки в ряд */
  align-items: center;       /* выравнивает их по вертикали */
  gap: 1px;                 /* расстояние между Menu и Sign in */
}


.navbar-auth {
  background: transparent !important; /* или #000, если хочешь чёрный */
  backdrop-filter: none;
}

.navbar-auth .navbar-sticky {
  justify-content: flex-start; /* логотип слева, ничего справа */
  padding: 20px 45px;
}

.navbar-auth .logo {
  width: 167px;
}